<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.5.2" />
  <package id="jQuery.vsdoc" version="1.5.2" />
  <package id="jQuery.UI.Effects.Core" version="1.8.9" />
  <package id="jQuery.UI.Effects.Bounce" version="1.8.9" />
  <package id="jQuery.UI.Effects.Blind" version="1.8.9" />
  <package id="jQuery.UI.Effects.Clip" version="1.8.9" />
  <package id="jQuery.UI.Effects.Drop" version="1.8.9" />
  <package id="jQuery.UI.Effects.Explode" version="1.8.9" />
  <package id="jQuery.UI.Effects.Fade" version="1.8.9" />
  <package id="jQuery.UI.Effects.Highlight" version="1.8.9" />
  <package id="jQuery.UI.Effects.Pulsate" version="1.8.9" />
  <package id="jQuery.UI.Effects.Scale" version="1.8.9" />
  <package id="jQuery.UI.Effects.Shake" version="1.8.9" />
  <package id="jQuery.UI.Effects.Slide" version="1.8.9" />
  <package id="jQuery.UI.Effects.Transfer" version="1.8.9" />
  <package id="jQuery.UI.Effects.All" version="1.8.9" />
</packages>